@charset "utf-8";
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    background-color: #F6FBFF;
    line-height: 200%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 3.2%;
    padding-left: 3.2%;
    background-color: #B7D5EA;
}
.header_nav ul{
    display: flex;
    gap: 32px;
}
.header_nav a{
    color: #ffffff;
    font-family: "Cause", cursive;
    font-size: 18px;
}
.logo{
    width: 100px;
}

#main-visual{
    background-color: #ffffff;
    height: 584px;
    position: relative;
}

.main-inner{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 200px 0 100px;
    width: 90%;
}

.main-title svg{
    width: 500px;
}


.main-title .mt-letters path {
  fill: transparent;
  stroke: #a2a7ab;
  stroke-width: 2;
}


.main-title .handwriting-line {
  fill: none;
  stroke: #fff;
  stroke-width: 16;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1 2;
  stroke-dashoffset: 1;
  animation: handwriting 3.6s linear 0.3s forwards;
}

@keyframes handwriting {
  to {
    stroke-dashoffset: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .main-title .handwriting-line {
    animation: none;
    stroke-dashoffset: 0;
  }
}


.mv-img{    
    width: 678px;
}

.mv-sub-title{
    font-size: 24px;
    color: #A2A7AB;
}

.mv-wave{
    width: 100%;
    z-index: -1;
}

.scroll {
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 10.7%;
}

.scroll-text {
    color: rgb(5, 49, 81);
    font-size: 14px;
    transform: rotate(90deg);
}
.scroll-border {
    position: absolute;
    width: 10px;
    height: 120px;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
}


.scroll-border::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(5, 49, 81);
    margin: auto;
}

.scroll-border::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0px;
    right: 0px;
    background: rgb(5, 49, 81);
    border-radius: 50%;
    animation: 4s ease-in-out 0s infinite normal none running scrollbar;
    margin: auto;
}

@keyframes scrollbar {
  0% {
    bottom: 120px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}



.concept-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    margin-top: 405px;
    margin-bottom: 8px;
    text-align: center;
}

.concept-sub-title{
    margin-bottom: 48px;
    text-align: center;
}
.concept-text{
    max-width: 480px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
}

.values-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    margin-top: 181px;
    margin-bottom: 8px;
    text-align: center;
}
.values-sub-title{
    margin-bottom: 180px;
    text-align: center;
}

.values-inner-title{
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.values-text{
    line-height: 200%;
    text-align: center;
}

.values-inner{
    max-width: 1000px;
    margin: 0 auto;
}
.values-contents {
    max-width: 1000px;
    position: relative;
    width: 480px;
}

.values-contents:nth-child(1) {
    margin: 0 auto;
}

.values-contents:nth-child(2) {
    margin-right: auto;
    margin-top: 200px;
}

.values-contents:nth-child(3) {
    margin-left: auto;
    margin-top: -47px;
    margin-bottom: 180px;
}

div.fluid {
    position: absolute;
    top: 0;
    width: 390px;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 61% 39% 16% 84% / 57% 72% 28% 43%;
    animation: fluid-anim 20s infinite;
    background: #e1eefb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
div.fluid-line {
    position: absolute;
    top: 0;
    width: 390px;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 61% 39% 16% 84% / 57% 72% 28% 43%;
    animation: fluid-anim 10s infinite;
    border-color: #6C8EA5;
    border-width: 1px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
}

@keyframes fluid-anim {
    0%    { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
    12.5% { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
    25%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
    37.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
    50%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
    62.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
    75%   { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
    87.5% { border-radius: 40% 60% 55% 45% / 50% 60% 40% 50%; }
    100%  { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
}
.button-container{
    text-align: right;
    max-width: 1100px;
    margin: 0 auto;
}
.button-container a{
    position: relative;
    padding: 20px 0;
    display: block;
}

.btn-text{
    font-size: 18px;
    padding-right: 88px;
}


.circle span {
    width: 50px;
    height: 50px;
    background-color: #b7d5ea;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    transition: 0.3s;
}

.circle::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background-color: #6c8ea5;
    right: 0;
    top: 31px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}


.circle::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    background-color: #6c8ea5;
    transform: rotate(40deg);
    top: 28px;
    right: 1px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}

.button-container a:hover .circle span {
  transform: translate(20px, -50%);
}

#works{
    background-color: #E1EEFB;
    position: relative;
    padding-bottom: 145px;
}
.works-wave{
    width: 100%;
    margin-top: 81px;
}


.works-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    padding-top: 81px;
    margin-bottom: 8px;
    text-align: center;
}

.works-sub-title{
    font-size: 16px;
    margin-bottom: 46px;
    text-align: center;
}

.works-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    padding-bottom: 50px;
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.works-inner{
    width: 330px;
}

.works-img{
    border-radius: 8px;
    border: solid 1px #B7D5EA;
}

.works-text{
    margin-top: 16px;
    margin-bottom: 50px;
}

#skill{
    background-color: #E1EEFB;
}

.skill-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    padding-top: 130px;
    margin-bottom: 8px;
    text-align: center;
}

.skill-sub-title{
    margin-bottom: 46px;
    text-align: center;
}

.box{
    width: 30%;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #B7D5EA;
}

.skill-container{
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px 4%;
}

#contact{
    background-color: #E1EEFB;
    padding-top: 130px;
}

#contact .footer-wave{
    margin-top: 80px;
}

.contact-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    margin-bottom: 8px;
    text-align: center;
}

.contact-sub-title{
    margin-bottom: 46px;
    text-align: center;
}

.contact-text{
    line-height: 200%;
    text-align: center; 
    width: 496px;
    margin: 0 auto;
    padding-bottom: 80px;
}

#footer{
    background-color: #B7D5EA;
    position: relative;
    text-align: center;
    margin-top: -2px;
}

.footer-wave{
    width: 100%;
}

.footer-logo{
    margin-bottom: 40px;
    width: 120px;
    display: inline-block;
}

.footer-menu{
    align-items: center;
}
.footer-menu ul{
    font-size: 18px;
    display: flex;
    gap: 32px;
    padding-bottom: 72px;
    justify-content: center;
}

.footer-menu a{
    color: #ffffff;
    font-family: "Cause", cursive;
    font-size: 18px;
}    
.copyright{
    font-size: 14px;
    color: #fff;
    padding-bottom: 18px;
}
.to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.to-top img{
    width: 125px;
}
.header_nav-sp{
    display: none;
}


/* about me */

.aboutme{
    background-color: #E1EEFB;
    position: relative;
}

.aboutme-container{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;

}

.about-contents{
    display: flex;
    max-width: 1000px;
    gap: 60px;
}
.about-contents p{
    width: 64%;
}

.aboutme-img{
    width: 30%;
    padding-bottom: 100px;
}
.aboutme h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    padding-top: 100px;
    margin-bottom: 32px;
}

.name{
    margin-bottom: 26px;
}

.aboutme p{
    line-height: 200%;
}

.aboutme-wave{
    width: 100%;
}

.favorite .wrapper{
    max-width: 650px;
    margin: 0 auto 150px;
    width: 90%;
}

.favorite h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    padding-top: 324px;
    text-align: center;
    padding-bottom: 92px;
}

.circle-group{
    margin-top: -34px;

}

.favorite-img{
    width: 115px;
    z-index: -1;
}

.favorite-name{
    font-size: 26px;
    margin-top: -70px;
    margin-left: 42px;
}


.favorite-name2{
    font-size: 26px;
    margin-top: -70px;
    margin-left: 32px;
}

.favorite-title{
    font-size: 20px;
    padding-left: 35px;
    padding-bottom: 17px;
    border-bottom: 1px solid #053151;
    max-width: 515px;
}

.wrapper{
    display: flex;
}

.favorite__text-area{
    margin-left: -5px;
}

.favorite-text{
    line-height: 200%;
    padding: 32px 35px 32px 35px;
    border-bottom: 1px #053151 solid;
}

.contact-box{
    width: 400px;
    height: 80px;
    border: 1px #6C8EA5 solid;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 208px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 92px;
    box-sizing: border-box;
    position: relative;
}

.contact-box img{
    position: absolute;
    width: 88px;
    height: 80px;
    left: -1px;
}

/* ここから */

.button-30 {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  margin: 0 auto;
  padding: 0.9em 2em;
  border: 1px solid #6c8ea5;
  border-radius: 50px;
  background-color: #fff;
  color: #053151;
  font-size: 1em;
  box-sizing: border-box;
}

.button-30-box {
  margin-top: 100px;
  margin-bottom: 92px;
}

.button-30:hover {
  animation: anima-button-30 1s;
}

@keyframes anima-button-30 {
    0% {
        box-shadow: 0 0 0 0 rgb(108 160 198 / 50%);
    }
    100% {
        box-shadow: 0 0 0 1.2em rgb(0 0 0 / 0%);
    }
}

.button-30::after {
    transform: translateY(2px) rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #053151;
    border-right: 2px solid #053151;
    content: '';
}

/* works */


#bunner{
    background-color: #E1EEFB;
    padding-top: 100px;
    position: relative;
}

.bunner-inner{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.category-title{
    font-family: "Cause", cursive;
    font-size: 24px;
    border-left: 5px solid #053151;
    padding-left: 16px;
    margin-bottom: 60px;
}

.bunner-container {
    width: 47%;
}

.bunner-img {
    width: 100%;
    transition: transform 0.8s ease;
    transform: scale(1);
}

.bunner-img:hover {
    transform: scale(1.05);
}

.bunner-img img{
    border-radius: 8px;
}

.bunner-text{
    padding-top: 16px;
    padding-bottom: 40px;
}

.buner-contents {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
}

.website-inner{
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
    width: 90%;
}
.website-container{
    width: 47%;
}

.website-img {
    width: 100%;
    transition: transform 0.8s ease;
    transform: scale(1);
}

.website-img:hover {
    transform: scale(1.05);
}

.website-img img{
    border-radius: 8px;
    border: 1px solid #E1EEFB;
}
.website-text{
    padding-top: 16px;
    padding-bottom: 40px;
}
.website-contents{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 1000px;
    justify-content: space-between;
}

#other{
    background-color: #E1EEFB;
    position: relative;
}

.other-inner{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}
.other-container {
    width: 47%;
}

.other-img {
    width: 100%;
    transition: transform 0.8s ease;
    transform: scale(1);
}

.other-img:hover {
    transform: scale(1.05);
}

.other-img img{
    border-radius: 8px;
}
.other-text{
    padding-top: 16px;
    padding-bottom: 40px;
}
.other-contents{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    justify-content: space-between;
}

/* bunner */

.detail{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.detail h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    border-left: 5px solid #053151;
    padding-left: 16px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.section-img img{
    border-radius: 8px;
    border: 1px solid #E1EEFB;
}

.detail-wave img{
    padding-top: 146px;
}

.detail-container{
    background-color: #E1EEFB;
    position: relative;
}

.detail-inner{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
    position: relative;
    padding-bottom: 82px;
}

.detail-document-title{
    font-size: 30px;
    margin-bottom: 66px;
    padding-top: 80px;
}

.detail-box{
    display: flex;
    align-items: center;
}

.detail-box img{
    width: 23px;
}

.detail-title{
    font-size: 20px;
}

.overview-innner{
    display: flex;
    gap: 32px;
}

.tool-list {
    display: flex;
    gap: 20px;
    row-gap: 0px;
    width: calc(100% - 96px);
    flex-wrap: wrap;
}

.inner-title{
    margin-top: 16px;
}

.inner-title{
    min-width: 96px;
}

.tool-list .inner-title{
    width: 45%;
    white-space: nowrap;
}

.overview-last{
    margin-bottom: 40px;
}

.detail-title{
    padding-left: 14px;
    align-items: center;
    line-height: 29px;
}

.detail-text{
    line-height: 200%;
    margin-top: 16px;
}

.detail-content{
    display: flex;
}

.detail-content-left{
    padding-right: 65px;
    border-right: 1px solid #B7D5EA;
    max-width: 410px;   
    width: 100%;
    box-sizing: border-box;
}

.detail-content-right{
    padding-left: 65px;
    width: 100%;
    box-sizing: border-box;
}

.detail-wave img{
    width:100%;
}


/* web site */
.forpc-container{
    background-color: #E1EEFB;
}

.forpc-inner{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.forpc-inner h3{
    font-family: "Cause", cursive;
    padding-top: 100px;
    padding-bottom: 16px;
}
.forpc-img-group{
    display: flex;
    justify-content: space-between;
    gap: 68px;
    background-color: #fff;
    padding: 68px 56px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.forpc-img{
    flex: 1;
}

.forpc-img img{
    width: 100%;
    max-width:410px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}

.forpc-img-group:has(.forpc-img:only-child){
    justify-content: center;
}

.forpc-img-group:has(.forpc-img:only-child) .forpc-img{
    flex: 0 0 auto;
}

.formobaile-container{
    background-color: #E1EEFB;
}

.formobile-inner{
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.formobile-inner h3{
    font-family: "Cause", cursive;
    padding-top: 100px;
    padding-bottom: 16px;
}
.formobile-img-group{
    display:flex;
    justify-content:center;
    gap:50px;
    background-color:#fff;
    padding:40px 5%;
    margin-bottom:60px;
    border-radius: 8px;
}

.formobaile-img img{
    width:100%;
    max-width:180px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}

.modal-btn{
    display: none;
}

/* contact page */

.contact-page-inner{
    max-width: 800px;
    margin: 0 auto;
}

.contact-page-inner h2{
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 64px;
    text-align: center;
}

.contact-page-title{
    text-align: left;
    margin-bottom: 12px;
}

.contact-page{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}

.form-group{
    margin-bottom: 48px;
}

.form-group label{
    display: block;
    margin-bottom: 12px;
}

input[type=text],input[type="email"]{
    width: 100%;
    padding: 16px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
}

input[type="text"]::placeholder,input[type="email"]::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

textarea{
    width: 100%;
    height: 320px;
    padding: 16px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
}

textarea::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

.contact-text p{
    text-align: center;
    text-align: left;
    line-height: 200%;
    padding-bottom: 60px;
    margin: 0 auto;
}
.contact-btn{
    display: flex;
    justify-content: center;
}

.contact-btn button{
    display: inline-block;
    padding: 20px 60px;
    background-color: #E1EEFB;
    color: #053151;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 40px;
    transition: 0.3s;
    margin-bottom: 92px;
}

.contact-btn button:hover{
    background-color: #74A0BE;
    color: #fff;
    cursor: pointer;
}

#footer{
    position: relative;
    margin-top: -2px;
}

.pre-footer-wave{
    position: absolute;
    z-index: -1;
    width: 100%;
}


/* thanks page */

#thanks-container h2{
    font-family: "Cause", cursive;
    font-size: 72px;
    text-align: center;
    margin-top: 167px;
}

#thanks-container p{
    text-align: center;
    line-height: 320%;
    padding-top: 32px;
}

#thanks-container{
    background-color: #F6FBFF;
}

#thanks-container .button-container{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 92px;
}

#thanks-container .button-container a{
    display: inline-block;
}

#thanks-container .circle span {
    width: 50px;
    height: 50px;
    background-color: #b7d5ea;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    transition: 0.3s;
}

#thanks-container .circle::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background-color: #6c8ea5;
    right: 0;
    top: 84px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}


#thanks-container .circle::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    background-color: #6c8ea5;
    transform: rotate(40deg);
    top: 81px;
    right: 1px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}

#thanks-container .button-container a:hover .circle span {
  transform: translate(20px, -50%);
}

body {
    opacity: 1;
    transition: opacity 0.5s;
}

body.fade-out {
    opacity: 0;
}

#thanks-container{
    position: relative;
}


/* レスポンシブ */

.hamburger,
.header_nav-sp{
    display: none;
}

@media screen and (max-width: 1100px) {

    #header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3.2%;
    padding-left: 3.2%;
    background-color: #B7D5EA;
    }

    .logo {
    width: 80px;
    }

    .main-title svg {
    width: 450px;
    }

    .mv-sub-title{
    font-size: 20px;
    text-align: left;
    color: #A2A7AB;
    padding-bottom: 36px;
    }



    .hamburger{
        display: block;
        width: 36px;
        height: 54px;
        position: absolute;
        right: 38px;
    }

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 98; 
}

body.is-open .menu-overlay {
  visibility: visible;
  opacity: 1;
}

.header_nav-sp {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #8f8f8f56;
  transition: right 0.3s;
  z-index: 99;
}

body.is-open .menu-content {
  right: 0; /* 画面内にスライド */
}
/* ここまで */

    .header_nav{
        display: none;
    }
    .hamburger span{
        display: block;
        width: 40px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 8px;
        top: 26px;
        transition: 0.3s;
    }
    .hamburger::before{
        content: "";
        width: 40px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 26px;
        top: 13px;
        transition: 0.3s;
    }

    .hamburger::after{
        content: "";
        width: 40px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: -8px;
        bottom: 13px;
        transition: 0.3s;
    }

    .hamburger {
    position: relative;
    z-index: 30;
    }


    .open span{
        background-color: transparent;
    }
    .open::before{
        transform: rotate(45deg);
        left: 12px;
        top: 26px;

    }
    .open::after{
        transform: rotate(-45deg);
        left: 11px;
        bottom: 25px
    }
    .header_nav-sp{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        z-index: 20;
    }
    .hamburger{
        z-index: 9999;
        cursor: pointer;
    }

    .header_nav-sp a{
        font-size: 18px;
        white-space: nowrap;
    }

    .header_nav-sp ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 100px 20px 0 0;
    }

    .header_nav-sp li:nth-child(1){
        margin-right: 40px;
        margin-bottom: 46px;
    }

    .header_nav-sp li:nth-child(2){
        margin-right: 78px;
        margin-bottom: 46px;
    }

    .header_nav-sp li:nth-child(3){
        margin-right: 100px;
        margin-bottom: 46px;
    }

    .header_nav-sp li:nth-child(4){
        margin-right: 114px;
        margin-bottom: 46px;
    }

    .header_nav-sp li:nth-child(5){
        margin-right: 88px;
        margin-bottom: 46px;
    }

    .header_nav-sp li:nth-child(6){
        margin-right: 47px;
    }


    .menu-inner{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
        background-color: #e1eefb;

    }

    .sp-logo{
        margin-top: 200px;
        margin-left: 50px;
        width: 100px;
    }

}


@media screen and (max-width: 880px){   

    .values-contents {
        width: clamp(300px, 45vw, 300px);
    }

    div.fluid,
    div.fluid-line {
        width: 320px;
    }

    .values-inner-title{
    font-size: clamp(16px, 2vw, 20px);
    margin-bottom: 16px;
    text-align: center;
    }

    .values-text{
    font-size: clamp(13px, 1.6vw, 16px);
    line-height: 200%;
    text-align: center;
    }
}




@media screen and (max-width: 768px){
    /* top-page */

    body{
        font-size:14px;
    }

        #main-visual{
        height:auto;
    }

    .main-inner{
        flex-direction: column;
        align-items: center;
        padding: 94px 0 94px;
    }

    .mv-img{
        width: 90%;
        order: 2;
    }

   .main-title svg {
    width: 100%;
    }


    .mv-sub-title{
        font-size: 16px;
        text-align: left;
        color: #A2A7AB;
        padding-bottom: 36px;
    }

    .header_nav-sp a{
        font-size: 18px;
        white-space: nowrap;
    }

    .scroll-border {
        position: absolute;
        width: 10px;
        height: 120px;
        left: 50%;
        top: 50px;
        transform: translate(-50%);
    }
    .concept-title{
        font-family: "Cause", cursive;
        font-size: clamp(22px, 3vw, 32px);
        margin-top: 80px;
        margin-bottom: 8px;
        text-align: center;
    }

    .concept-sub-title{
        font-size: clamp(12px, 1vw, 16px);
        margin-bottom: 36px;
        text-align: center;
    }
    .concept-text{
        max-width: 480px;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 120px;
        font-size: clamp(14px, 1vw, 16px);
        line-height: 200%;
        text-align: left;
    }

    .values-title{
        font-family: "Cause", cursive;
        font-size: clamp(22px, 3vw, 32px);
        margin-bottom: 8px;
        margin-top: 0;
        text-align: center;
    }

    .values-sub-title{
        font-size: clamp(12px, 1vw, 16px);
        margin-bottom: 104px;
        text-align: center;
    }

    .values-inner-title{
        font-size: clamp(16px, 1vw, 20px);
        margin-bottom: 14px;
        text-align: center;
    }

    .values-text{
        font-size: clamp(14px, 1vw, 16px);
        line-height: 200%;
        text-align: center;
    }

    .values-inner{
        width: 90%;
    }

    .values-contents {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .values-contents:nth-child(1),
    .values-contents:nth-child(2),
    .values-contents:nth-child(3){
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .values-contents + .values-contents{
        margin-top: 158px;
    }

    div.fluid,
    div.fluid-line{
        width: 300px;
    }

    .values-contents:nth-child(2){
        margin-top: 200px;
    }

    .values-contents:nth-child(3){
        margin-bottom: 80px;
    }

    .button-container{
    text-align: right;
    width: 90%;
    margin: 0 auto;
    }

    #works .button-container a {
        position: relative;
        padding: 20px 0;
        margin-top: 0;
        display: block;
    }

    .button-container a{
        position: relative;
        padding: 20px 0;
        /* margin-top: 37px; */
        display: block;
    }

    .btn-text{
        padding-right: 68px;
    }

    .circle span {
        width: 30px;
        height: 30px;
        background-color: #b7d5ea;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        border-radius: 50%;
        transition: 0.3s;
    }

    .circle::before {
        position: absolute;
        content: "";
        width: 64px;
        height: 1px;
        background-color: #6c8ea5;
        right: 0;
        top: 31px;
        border-radius: 1px;
        transition: 0s;
        z-index: 4;
    }


    .circle::after {
        position: absolute;
        content: "";
        width: 9px;
        height: 1px;
        background-color: #6c8ea5;
        transform: rotate(40deg);
        top: 28px;
        right: 1px;
        border-radius: 1px;
        transition: 0s;
        z-index: 4;
    }

    .button-container a:hover .circle span {
    transform: translate(20px, -50%);
    }

    #works{
    background-color: #E1EEFB;
    position: relative;
    padding-bottom: 0;
    }

    .works-title{
        font-family: "Cause", cursive;
        font-size: clamp(22px, 3vw, 32px);
        padding-top: 81px;
        margin-bottom: 8px;
        text-align: center;
    }

    .works-sub-title{
        font-size: clamp(12px, 1vw, 16px);
        margin-bottom: 42px;
        text-align: center;
    }

    .works-container{
        flex-direction: column;
        gap: 55px;
        padding-bottom: 50px;
        margin: 0 auto;
        width: 90%;
    }

    .works-img{
        border-radius: 8px;
        border: solid 1px #B7D5EA;
    }

    .works-text{
        font-size: clamp(14px, 1vw, 16px);
        margin-top: 12px;
        margin-bottom: 0;
    }

    .works-inner{
        width: 100%;
    }
    
    .skill-title{
    font-family: "Cause", cursive;
    font-size: clamp(22px, 3vw, 32px);
    padding-top: 120px;
    margin-bottom: 8px;
    text-align: center;
}

    .skill-sub-title{
        font-size: clamp(12px, 1vw, 16px);
        margin-bottom: 42px;
        text-align: center;
    }

    .box{
    width: 48%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(14px, 1vw, 20px);
    background-color: #fff;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    }

    .skill-container{
        max-width: 800px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 12px;
        column-gap: 4%;
    }

    #contact{
        background-color: #E1EEFB;
        padding-top: 0;
    }

    .contact-title{
        font-family: "Cause", cursive;
        font-size: clamp(22px, 3vw, 32px);
        padding-top: 120px;
        margin-bottom: 8px;
        text-align: center;
    }

    .contact-sub-title{
        font-size: clamp(12px, 1vw, 16px);
        text-align: center;
        margin-bottom: 42px;
    }

    .contact-text{
        width: 90%;
        font-size: clamp(14px, 1vw, 16px);
        line-height: 200%;
        text-align: left; 
        padding-bottom: 40px;
    }

    

    #footer{
    background-color: #B7D5EA;
    position: relative;
    text-align: center;
    margin-top: -2px;
    }

    .footer-wave{
        width: 100%;
    }

    .footer-logo{
        margin-top: 70px;
        margin-bottom: 40px;
        width: 100px;
        display: inline-block;
    }

    .footer-menu{
        align-items: center;
    }
    .footer-menu ul{
        font-size: 16px;
        flex-direction: column;
        padding-bottom: 46px;
        justify-content: center;
    }

    .footer-menu a{
        color: #ffffff;
        font-family: "Cause", cursive;
        font-size: 18px;
    }    
    .copyright{
        color: #fff;
        padding-bottom: 18px;
    }
    .to-top{
        position: fixed;
        right: 40px;
        bottom: 64px;
    }
    .to-top img{
        width: 80px;
    }
    .header_nav-sp{
        display: none;
    }

    .footer-menu li img{
        width: 31px;
    }

    /* about me */

    .about-contents{
        display:flex;
        flex-direction:column;
        margin:0 auto;
        gap:40px;
    }

    .about-contents p{
        font-size: clamp(14px, 1vw, 16px);
        width: 100%;
    }

    .aboutme-img{
        margin: 0 auto;
        /* padding-bottom: 190px; */
        width: 80%;
    }
    .aboutme h2{
        font-family: "Cause", cursive;
        font-size: 24px;
        padding-top: 32px;
        margin-bottom: 32px;
    }

    .name{
        margin-bottom: 26px;
    }

    .aboutme p{
        line-height: 200%;
        font-size: clamp(14px, 1vw, 16px);
    }

    .aboutme-wave{
        width: 100%;
    }

    .favorite .wrapper{
        margin: 0 auto 150px;
        width: 90%;
    }

  .favorite h2 {
        font-family: "Cause", cursive;
        font-size: 20px;
        padding-top: 80px;
        text-align: center;
        padding-bottom: 50px;
    }

    .circle-group{
        margin-top: -34px;

    }

    .favorite-img{
        width: 115px;
        z-index: -1;
    }

    .favorite-name{
        font-size: clamp(16px, 1vw, 26px);
        margin-top: -65px;
        margin-left: 48px;
    }
    .favorite-name2{
        font-size: clamp(16px, 2vw, 26px);
        margin-top: -65px;
        margin-left: 43px;
    }

    .favorite-title{
        font-size: clamp(16px, 1vw, 20px);
        padding-left: 30px;
        padding-bottom: 21px;
        border-bottom: 1px solid #053151;
    }

    .wrapper{
        display: flex;
    }

    .favorite__text-area{
        margin-left: -5px;
    }

    .favorite-text{
        line-height: 200%;
        padding: 14px 14px 14px 14px;
        border-bottom: 1px #053151 solid;
    }

    /* works */

    #bunner {
        background-color: #E1EEFB;
        padding-top: 32px;
        position: relative;
    }
        
    .bunner-inner{
        margin: 0 auto;
        width: 90%;
    }

    .category-title{
        font-family: "Cause", cursive;
        font-size: clamp(18px, 1vw, 24px);
        border-left: 5px solid #053151;
        padding-left: 16px;
        margin-bottom: 32px;
    }

    .bunner-container {
        width: 100%;
    }


    .bunner-img{
        width: 100%;
    }

    .bunner-img img{
        border-radius: 8px;
    }

    .bunner-text{
        padding-top: 13px;
        padding-bottom: 40px;
    }

    .buner-contents {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1000px;
        justify-content: space-between;
    }

    .website-inner{
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 100px;
        width: 90%;
    }
    .website-container{
        width: 100%;
    }

    .website-img{
        width: 100%;
    }

    .website-img img{
        border-radius: 8px;
        border: 1px solid #E1EEFB;
    }
    .website-text{
        padding-top: 13px;
        padding-bottom: 40px;
    }
    .website-contents{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom: 0;
        max-width: 1000px;
        justify-content: space-between;
    }

    #other{
        background-color: #E1EEFB;
        position: relative;
    }

    .other-inner{
        max-width: 1000px;
        margin: 0 auto;
        width: 90%;
        padding-top: 75px;
    }
    .other-container {
        width: 100%;
    }
    .other-img{
        width: 100%;
    }
    .other-img img{
        border-radius: 8px;
    }
    .other-text{
        padding-top: 13px;
        padding-bottom: 40px;
    }
    .other-contents{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1000px;
        justify-content: space-between;
    }

    /* bunner */

    .detail-inner{
        width:90%;
        padding-bottom:60px;
    }

    .detail h2{
        font-size:18px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .detail-document-title{
        font-size:18px;
        margin-bottom:40px;
        padding-top: 84px;
    }

    .detail-content{
        flex-direction:column;
        gap:40px;
    }

    .detail-content-left{
        max-width:none;
        width:100%;
        padding-right:0;
        padding-bottom:40px;
        border-right:none;
        border-bottom:1px solid #B7D5EA;
    }

    .detail-content-right{
        width:100%;
        padding-left:0;
    }

    .overview-innner{
        gap:16px;
    }

    .tool-list{
        display:flex;
        /* flex-wrap:wrap; */
        gap:12px;
    }

    .detail-title{
        font-size:16px;
        line-height:28px;
    }

    .detail-text{
        font-size:14px;
        line-height:200%;
    }

    .tool-list .inner-title{
        width: 100px;
    }

    .inner-title{
        font-size:14px;
    }

    .detail-wave img{
        padding-top:48px;
    }

    .forpc-inner{
        display: none;
    }

    .formobile-inner{
        display: none;
    }

    .modal-btn{
        display: flex;
        margin-top: 100px;
        margin-bottom: 92px;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
        gap:16px;
        padding-bottom: 50px;
    }

    .dialog{
        width: 90%;
    }


    .open-button{
        font-family: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: clamp(140px, 42vw, 180px);
        margin: 0 auto;
        padding: 12px 16px;
        border: 1px solid #6C8EA5;
        border-radius: 30px;
        background-color: #fff;
        color: #053151;
        font-size: 14px;
        box-sizing: border-box;
        cursor: pointer;
    }



    .open-button:hover {
        animation: anima-button-30 1s;
    }
/* コンタクト*/


.contact-page-inner h2{
    font-size: 18px;
    margin-top: 52px;
    margin-bottom: 32px;
    text-align: center;
}

.contact-page-title{
    text-align: left;
    margin-bottom: 12px;
}

.contact-page{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    width: 90%;
}

.form-group{
    margin-bottom: 24px;
}

.form-group label{
    display: block;
    margin-bottom: 12px;
}

input[type=text],input[type="email"]{
    width: 100%;
    padding: 14px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 14px;
}

input[type="text"]::placeholder,input[type="email"]::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

textarea{
    width: 100%;
    height: 320px;
    padding: 14px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 14px;
}

textarea::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

.contact-text p{
    text-align: left;
    line-height: 200%;
    padding-top: 32px;
    padding-bottom: 48px;
    max-width: 400px;
    margin: 0 auto;
}

.contact-btn{
    display: flex;
    justify-content: center;
}

.contact-btn button{
    display: inline-block;
    padding: 18px 40px;
    background-color: #E1EEFB;
    color: #053151;
    font-family: inherit;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    transition: 0.3s;
    margin-bottom: 92px;
}

.contact-btn button:hover{
    background-color: #74A0BE;
    color: #fff;
    cursor: pointer;
}

#footer{
    position: relative;
    margin-top: -2px;
}

.pre-footer-wave{
    position: absolute;
    z-index: -1;
}


/* thanks page */

.contact-page{
    width: 90%;
}

#thanks-container h2{
    font-family: "Cause", cursive;
    font-size: 72px;
    font-size: clamp(32px, 10vw, 72px);
    text-align: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

#thanks-container p{
    text-align: center;
    line-height: 320%;
    padding-top: 32px;
}

#thanks-container{
    background-color: #F6FBFF;
    padding-top: 130px;
}

#thanks-container .button-container{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 92px;
}

#thanks-container .button-container a{
    display: inline-block;
}

#thanks-container .circle span {
    width: 30px;
    height: 30px;
    background-color: #b7d5ea;
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    transition: 0.3s;
}

#thanks-container .circle::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background-color: #6c8ea5;
    right: 0;
    top: 84px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}


#thanks-container .circle::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    background-color: #6c8ea5;
    transform: rotate(40deg);
    top: 81px;
    right: 1px;
    border-radius: 1px;
    transition: 0s;
    z-index: 4;
}

#thanks-container .button-container a:hover .circle span {
  transform: translate(20px, -50%);
}

body {
    opacity: 1;
    transition: opacity 0.5s;
}

body.fade-out {
    opacity: 0;
}

#thanks-container{
    position: relative;
}

.dialog{
    border: none;
}
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 60px;
}




/* フェードイン */
.fadeIn_up {
  opacity: 0;
  transform: translate(0, 50%);
  transition: 1.5s;
}

.fadeIn_up.is-show {
  transform: translate(0, 0);
  opacity: 1;
}
