/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
p,
dl {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #053151;
  font-family:
  "Zen Maru Gothic", sans-serif;
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
  border: none;
}