@charset "utf-8";
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
    background-color: #F6FBFF;
    line-height: 200%;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 3.2%;
    padding-left: 3.2%;
    background-color: #B7D5EA;
}
.header_nav ul{
    display: flex;
    gap: 32px;
}
.header_nav a{
    color: #ffffff;
    font-family: "Cause", cursive;
    font-size: 18px;
}
.logo{
    width: 100px;
}

#main-visual{
    background-color: #ffffff;
    height: 584px;
    position: relative;
}

.main-inner{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 200px 0 100px;
}


.mv-img{    
    width: 678px;
}

.main-title{
    font-family: "League Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(20px, 9vw, 100px);
    color: #A2A7AB;
    margin-bottom: 32px;
    white-space: nowrap;
}

.mv-sub-title{
    font-size: 24px;
    color: #A2A7AB;
}

.mv-wave{
    /* position: absolute;
    top: 583px;
    left: 0; */
    width: 100%;
    z-index: -1;
}

.scroll {
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 10.7%;
}

.scroll-text {
    color: rgb(5, 49, 81);
    font-size: 14px;
    transform: rotate(90deg);
}
.scroll-border {
    position: absolute;
    width: 10px;
    height: 120px;
    left: 50%;
    top: 50px;
    transform: translate(-50%);
}


.scroll-border::before {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 120px;
    top: 0px;
    left: 0px;
    right: 0px;
    background: rgb(5, 49, 81);
    margin: auto;
}

.scroll-border::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    left: 0px;
    right: 0px;
    background: rgb(5, 49, 81);
    border-radius: 50%;
    animation: 4s ease-in-out 0s infinite normal none running scrollbar;
    margin: auto;
}

@keyframes scrollbar {
  0% {
    bottom: 120px;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    bottom: 0;
    opacity: 0;
  }
}
.concept-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    margin-top: 405px;
    margin-bottom: 8px;
    text-align: center;
}

.concept-sub-title{
    margin-bottom: 48px;
    text-align: center;
}
.concept-text{
    font-size: 16px;
    line-height: 200%;
    text-align: center;
}

.values-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    margin-top: 181px;
    margin-bottom: 8px;
    text-align: center;
}
.values-sub-title{
    margin-bottom: 180px;
    text-align: center;
}

.values-inner-title{
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
}

.values-text{
    line-height: 200%;
    text-align: center;
}

.values-inner{
    max-width: 1000px;
    margin: 0 172px;
}
.values-contents {
    max-width: 1000px;
    position: relative;
    width: 480px;
}

.values-contents:nth-child(1) {
    margin: 0 auto;
}

.values-contents:nth-child(2) {
    margin-right: auto;
    margin-top: 200px;
}

.values-contents:nth-child(3) {
    margin-left: auto;
    margin-top: -47px;
    margin-bottom: 180px;
}

div.fluid {
    position: absolute;
    top: 0;
    width: 390px;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 61% 39% 16% 84% / 57% 72% 28% 43%;
    animation: fluid-anim 20s infinite;
    background: #e1eefb;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
div.fluid-line {
    position: absolute;
    top: 0;
    width: 390px;
    aspect-ratio: 1;
    margin: 0 auto;
    border-radius: 61% 39% 16% 84% / 57% 72% 28% 43%;
    animation: fluid-anim 10s infinite;
    border-color: #6C8EA5;
    border-width: 1px;
    border-style: solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
}

@keyframes fluid-anim {
    0%    { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
    12.5% { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
    25%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
    37.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
    50%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
    62.5% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
    75%   { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
    87.5% { border-radius: 40% 60% 55% 45% / 50% 60% 40% 50%; }
    100%  { border-radius: 65% 35% 55% 45% / 55% 50% 55% 45%; }
}
.button-container{
    text-align: right;
    max-width: 1100px;
    margin: 0 auto;
}
.button-container a{
    position: relative;
}

.btn-text{
    font-size: 18px;
    padding-right: 88px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: #b7d5ea;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    /* transition: transform 0.3s ease; */
}
/* .circle {
  transform: translateX(-10px); 
} */

.circle::before {
    position: absolute;
    content: "";
    width: 64px;
    height: 1px;
    background-color: #6c8ea5;
    left: 0;
    top: 25px;
    border-radius: 1px;
}

.circle::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    background-color: #6c8ea5;
    transform: rotate(40deg);
    top: 22px;
    right: -15px;
    border-radius: 1px;
}

#works{
    background-color: #E1EEFB;
    position: relative;
    padding-bottom: 145px;
}
.works-wave{
    width: 100%;
}


.works-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    padding-top: 81px;
    margin-bottom: 8px;
    text-align: center;
}

.works-sub-title{
    font-size: 16px;
    margin-bottom: 46px;
    text-align: center;
}

.works-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
    padding-bottom: 50px;
}

.works-inner{
    width: 330px;
}

.works-img{
    border-radius: 8px;
    border: solid 1px #B7D5EA;
}

.works-text{
    margin-top: 16px;
    margin-bottom: 50px;
}

#skill{
    background-color: #E1EEFB;
}

.skill-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    padding-top: 130px;
    margin-bottom: 8px;
    text-align: center;
}

.skill-sub-title{
    margin-bottom: 46px;
    text-align: center;
}

.box{
    width: 30%;
    padding: 20px 0;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    border: solid 1px #B7D5EA;
}

.skill-container{
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px 4%;
}

#contact{
    background-color: #E1EEFB;
    padding-top: 130px;
}
#contact .button-container{
    text-align: center;
    padding-top: 54px;
    padding-bottom: 92px;
}
#contact .button-container a{
    display: inline-block;
}

.contact-title{
    font-family: "Cause", cursive;
    font-style: semibold;
    font-size: 32px;
    padding-top: 130px;
    margin-bottom: 8px;
    text-align: center;
}

.contact-sub-title{
    margin-bottom: 46px;
    text-align: center;
}

.contact-text{
    line-height: 200%;
    text-align: center; 
}

#footer{
    background-color: #B7D5EA;
    position: relative;
    text-align: center;
}

.footer-wave{
    width: 100%;
}

.footer-logo{
    margin-bottom: 40px;
    width: 120px;
    display: inline-block;
}

.footer-menu{
    align-items: center;
}
.footer-menu ul{
    font-size: 18px;
    display: flex;
    gap: 32px;
    padding-bottom: 72px;
    justify-content: center;
}

.footer-menu a{
    color: #ffffff;
    font-family: "Cause", cursive;
    font-size: 18px;
}    
.copyright{
    font-size: 14px;
    color: #fff;
    padding-bottom: 18px;
}
.to-top{
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.to-top img{
    width: 125px;
}
.header_nav-sp{
    display: none;
}

/* about me */

.aboutme{
    background-color: #E1EEFB;
    position: relative;
}

.aboutme-container{
    max-width: 1000px;
    margin: 0 auto;

}

.about-contents{
    display: flex;
    max-width: 1000px;
    gap: 60px;
}
.aboutme-img{
    width: 300px;
    height: 280px;
    padding-bottom: 100px;
}
.aboutme h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    padding-top: 100px;
    margin-bottom: 32px;
}

.name{
    margin-bottom: 26px;
}

.aboutme p{
    line-height: 200%;
}

.aboutme-wave{
    /* position: absolute;
    top: 593px; */
    width: 100%;
}

.favorite .wrapper{
    max-width: 650px;
    margin: 0 auto;
}

.favorite h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    padding-top: 324px;
    text-align: center;
    padding-bottom: 92px;
}

.circle-group{
    margin-top: -34px;

}

.favorite-img{
    width: 115px;
    z-index: -1;
}

.favorite-name{
    font-size: 26px;
    margin-top: -70px;
    margin-left: 42px;
}


.favorite-name2{
    font-size: 26px;
    margin-top: -70px;
    margin-left: 32px;
}

.favorite-title{
    font-size: 20px;
    padding-left: 35px;
    padding-bottom: 17px;
    border-bottom: 1px solid #053151;
    max-width: 515px;
    width: 100%;
}

.wrapper{
    display: flex;
}

.favorite__text-area{
    margin-left: -5px;
}

.favorite-text{
    line-height: 200%;
    padding: 32px 35px 32px 35px;
    border-bottom: 1px #053151 solid;
}

.contact-box{
    width: 400px;
    height: 80px;
    border: 1px #6C8EA5 solid;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 208px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 92px;
    box-sizing: border-box;
    position: relative;
}

.contact-box img{
    position: absolute;
    width: 88px;
    height: 80px;
    left: -1px;
}


/* works */


#bunner{
    background-color: #E1EEFB;
    padding-top: 100px;
    height: 863px;
    position: relative;
}

.bunner-inner{
    max-width: 1000px;
    margin: 0 auto;

}

.category-title{
    font-family: "Cause", cursive;
    font-size: 24px;
    border-left: 5px solid #053151;
    padding-left: 16px;
    margin-bottom: 60px;
}

.bunner-img{
    width: 470px;
    height: 329px;
}

.bunner-img img{
    border-radius: 8px;
}

.bunner-text{
    margin-top: 16px;
    margin-bottom: 40px;
}
.buner-contents{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    gap: 60px;
}
#website{
    margin-top: 260px;
}

.website-inner{
    max-width: 1000px;
    margin: 0 auto;
}

.website-img{
    width: 470px;
    height: 329px;
}

.website-img img{
    border-radius: 8px;
    border: 1px solid #E1EEFB;
}

.website-text{
    margin-top: 16px;
    margin-bottom: 40px;
}
.website-contents{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    gap: 60px;
}

#other{
    background-color: #E1EEFB;
    position: relative;
}

.other-inner{
    max-width: 1000px;
    margin: 0 auto;
}

.other-img{
    width: 470px;
    height: 329px;
}

.other-img img{
    border-radius: 8px;
}

.other-text{
    margin-top: 16px;
    margin-bottom: 40px;
}
.other-contents{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
    gap: 60px;
}

.other-wave img{
    width:100%;
    /* transform: translateY(-100%); */
}


/* bunner-1 */

.detail{
    max-width: 1000px;
    margin: 0 auto;
}

.detail h2{
    font-family: "Cause", cursive;
    font-size: 24px;
    border-left: 5px solid #053151;
    padding-left: 16px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.section-img img{
    border-radius: 8px;
    border: 1px solid #E1EEFB;
}

.detail-wave img{
    padding-top: 146px;
}

.detail-container{
    background-color: #E1EEFB;
    position: relative;
}

.detail-inner{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 82px;
}

.detail-document-title{
    font-size: 30px;
    margin-bottom: 66px;
}

.detail-box{
    display: flex;
}

.detail-box img{
    width: 23px;
}

.detail-title{
    font-size: 20px;
}

.overview-innner{
    display: flex;
    gap: 32px;
}

.tool-list{
    display: flex;
    gap: 20px;
}

.inner-title{
    margin-top: 16px;
}

.inner-title{
    width: 96px;
}

.tool-list .inner-title{
    width: 100%;
    white-space: nowrap;
}

.overview-last{
    margin-bottom: 40px;
}

.detail-title{
    padding-left: 14px;
    align-items: center;
    line-height: 29px;
}

.detail-text{
    line-height: 200%;
    margin-top: 16px;
}

.detail-content{
    display: flex;
}

.detail-content-left{
    padding-right: 65px;
    border-right: 1px solid #B7D5EA;
}

.detail-content-right{
    padding-left: 65px;
}

.detail-wave img{
    width:100%;
}


/* web site-1 */
.forpc-container{
    background-color: #E1EEFB;
}

.forpc-inner{
    max-width: 1000px;
    margin: 0 auto;
}

.forpc-inner h3{
    font-family: "Cause", cursive;
    padding-top: 100px;
    padding-bottom: 16px;
}

.forpc-img-group{
    display: flex;
    justify-content: center;
    gap: 68px;
    background-color: #fff;
    padding: 68px 56px;
}

.forpc-img img{
    width: 410px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}

.formobaile-container{
    background-color: #E1EEFB;
}

.formobile-inner{
    max-width: 1000px;
    margin: 0 auto;
}

.formobile-inner h3{
    font-family: "Cause", cursive;
    padding-top: 100px;
    padding-bottom: 16px;
}
.formobile-img-group{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 40px 180px;
}

.formobaile-img img{
    width: 180px;
    filter: drop-shadow(1px 1px 3px rgba(0,0,0,0.3));
}

/* contact page */

.contact-page-inner{
    max-width: 800px;
    margin: 0 auto;
}

.contact-page-inner h2{
    font-size: 20px;
    margin-top: 100px;
    margin-bottom: 64px;
    text-align: center;
}

.contact-page-title{
    text-align: left;
    margin-bottom: 12px;
}

.form-grop{
    margin-bottom: 48px;
}

label{
    display: block;
    margin-bottom: 12px;
}

input[type=text]{
    width: 100%;
    padding: 16px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
}

input[type="text"]::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

textarea{
    width: 100%;
    height: 320px;
    padding: 16px;
    color: #053151;
    border: 1px solid #B7D5EA;
    border-radius: 8px;
    box-sizing: border-box;
    resize: none;
    font-family: "Zen Maru Gothic", sans-serif;
    font-size: 16px;
}

textarea::placeholder{
    color: #D5DBDF;
    opacity: 1;
}

.contact-text p{
    text-align: center;
    line-height: 200%;
    padding-bottom: 60px;
}

/* thanks page */

.thanks-container h2{
    font-family: "Cause", cursive;
    font-size: 72px;
    text-align: center;
    margin-top: 167px;
}

.thanks-container p{
    text-align: center;
    line-height: 320%;
    margin-top: 32px;
}